In [16]:
import pandas as pd
import numpy as np

In [17]:
turnover_1 = pd.read_csv("data/turnover_1.csv")
turnover_2 = pd.read_csv("data/turnover_2.csv")

In [18]:
turnover_1

  EMPLEE_ID  WORK_HRS_NUM  WORK_DT_ID
0      e100             4    20190101
1      e200             5    20190102
2      e300             6    20190103

In [19]:
turnover_2

  EMPLEE_ID  WORK_HRS_NUM  WORK_DT_ID
0      e100             7    20190201
1      e200             8    20190202
2      e300             9    20190203