In [1]:
import pandas as pd
import numpy as np

In [172]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

In [173]:
def get_start_stop_indices_state(df):
    print("IN get_start_stop_indices_state()")
    state_idxs = df['STATE'].str.findall(r'\w\w')

    # build list of start and stop indices for states
    state_start_end_indices = []
    for s in state_idxs.items():
        if s[1]:
            state_start_end_indices.append(s[0])

    # create list of (start,end) tuples
    l_of_start_end_tuples = []
    for i in range(len(state_start_end_indices)-1):
        l_of_start_end_tuples.append((state_start_end_indices[i], state_start_end_indices[i+1]))
        
    # need to account for last index of state and add last tuple
    l_of_start_end_tuples.append((l_of_start_end_tuples[-1][1],len(state_idxs)-1))
    
    return l_of_start_end_tuples

In [174]:
def get_start_stop_indices_counties_in_state(state_df):
    print("IN get_start_stop_indices_counties_in_state()")
    cty_idxs = state_df['County_name'].str.findall(r'\w+')
    
    l_of_cty_start_end_indices = []
    for c in cty_idxs.items():
        if c[1]:
            l_of_cty_start_end_indices.append(c[0])

    n_rows = len(cty_idxs)
    print("number of rows:", n_rows)
    print("last index of county:", l_of_cty_start_end_indices[-1])
    
    # adjust for case where only 1 county, and starting index is "0" with no end
    if len(l_of_cty_start_end_indices) <= 1:
            l_of_cty_start_end_indices.append(n_rows-1)
    else:
        if (n_rows - 1) != l_of_cty_start_end_indices[-1]:
            l_of_cty_start_end_indices[-1] = n_rows-1

    print("counties start-end indices:",l_of_cty_start_end_indices)
    return l_of_cty_start_end_indices

In [167]:
def get_start_stop_indicies_county_in_counties(c_df):
    pass

In [168]:
def process_state(s_df):
    print("IN PROCESS STATE:")
    print(s_df)
    num_rows_in_state = s_df.shape[0]
    s_df = s_df.reset_index(drop=True)

    counties_idxs = get_start_stop_indices_counties_in_state(s_df)
   
    #print("counties_idxs:",counties_idxs)
    #for cty in counties_idxs:
    #        start = idx[0]
    #        end   = idx[1]
    #        process_counties(s_df[start:end])
    #print("--------------------------------------------------------------------------------------------\n")
    #return s_df

In [169]:
def process_counties(ctys_df):
    print("PROCESS_COUNTIES:")
    print(ctys_df)
          
    num_rows_in_county = ctys_df.shape[0]
    ctys_df = ctys_df.reset_index(drop=True)
    
    county_idxs = get_start_stop_indicies_county_in_counties(ctys_df)
    
    print(ctys_df)
    print("--------------------------------------------------------------------------------------------\n")

In [170]:
df = pd.read_csv("data/homes_example.csv")
df = df.replace(np.nan, '', regex=True)
#df

   STATE           County_name Comp5star  PROVNUM PROVNAME  Sum of MDScensus_avg  Sum of Beds_Avail  Count of FACID
0     AK             Anchorage         4    25018        A                    10                 16               1
1                                      5    25025        B                    11                 17               1
2                                           25036        C                    12                 18               1
3         Fairbanks North Star         3    25020        D                    13                 19               1
4     WY               Laramie         1   535013        E                    17                 28               1
5                                          535025        F                    19                 77               1
6                                      5   535032        G                    21                 14               1
7                                          535044        H                    23                 56               1
8                      Natrona         4   535024        K                    45                 56               1
9                                          535049        L                    93                 26               1
10    VT            Chittenden         1   475030        X                   123                 56               1
11                                     2   475014        Y                    45                 12               1
12                                     3   475040        Z                    44                 57               1
13                                     4   475003       AA                    33                 12               1
14                                     5   475056       BB                    22                  3               1
15                    Franklin         2   475021       CC                    77                 33               1
16                                     5   475047       DD                    88                 55               1
17                                         475055       EE                    55                 66               1
18    ZZ              Newstate         4   666666       FF                    10                 16               1
19                                     5   777777       GG                    11                 17               1
20                                         888888       HH                    12                 18               1
21                Smith County         3   999999       II                    13                 19               1

In [175]:
state_idxs = get_start_stop_indices_state(df)
print("state start-end indicies:",state_idxs)
print()
for idx in state_idxs:
    start = idx[0]
    end   = idx[1]
    state_df = process_state(df[start:end])
    print(state_df)
    print("============================================================================================\n")

IN get_start_stop_indices_state()
state start-end indicies: [(0, 4), (4, 10), (10, 18), (18, 21)]

IN PROCESS STATE:
  STATE           County_name Comp5star  PROVNUM PROVNAME  Sum of MDScensus_avg  Sum of Beds_Avail  Count of FACID
0    AK             Anchorage         4    25018        A                    10                 16               1
1                                     5    25025        B                    11                 17               1
2                                          25036        C                    12                 18               1
3        Fairbanks North Star         3    25020        D                    13                 19               1
IN get_start_stop_indices_counties_in_state()
number of rows: 4
last index of county: 3
counties start-end indices: [0, 3]
None
============================================================================================

IN PROCESS STATE:
  STATE County_name Comp5star  PROVNUM PROVNAME  Sum of MDScensus_avg  Sum of Beds_Avail  Count of FACID
4    WY     Laramie         1   535013        E                    17                 28               1
5                               535025        F                    19                 77               1
6                           5   535032        G                    21                 14               1
7                               535044        H                    23                 56               1
8           Natrona         4   535024        K                    45                 56               1
9                               535049        L                    93                 26               1
IN get_start_stop_indices_counties_in_state()
number of rows: 6
last index of county: 4
counties start-end indices: [0, 5]
None
============================================================================================

IN PROCESS STATE:
   STATE County_name Comp5star  PROVNUM PROVNAME  Sum of MDScensus_avg  Sum of Beds_Avail  Count of FACID
10    VT  Chittenden         1   475030        X                   123                 56               1
11                           2   475014        Y                    45                 12               1
12                           3   475040        Z                    44                 57               1
13                           4   475003       AA                    33                 12               1
14                           5   475056       BB                    22                  3               1
15          Franklin         2   475021       CC                    77                 33               1
16                           5   475047       DD                    88                 55               1
17                               475055       EE                    55                 66               1
IN get_start_stop_indices_counties_in_state()
number of rows: 8
last index of county: 5
counties start-end indices: [0, 7]
None
============================================================================================

IN PROCESS STATE:
   STATE County_name Comp5star  PROVNUM PROVNAME  Sum of MDScensus_avg  Sum of Beds_Avail  Count of FACID
18    ZZ    Newstate         4   666666       FF                    10                 16               1
19                           5   777777       GG                    11                 17               1
20                               888888       HH                    12                 18               1
IN get_start_stop_indices_counties_in_state()
number of rows: 3
last index of county: 0
counties start-end indices: [0, 2]
None
============================================================================================