In [128]:
import pandas as pd
import numpy as np

In [129]:
def process_county(df):
    """computes sum of columns by rating to determine available space"""
    df = df.replace(np.nan, '', regex=True)
    cty_name = df['county'].iloc[0]
    print("Processing:",cty_name)
    
    # get values for rating 1-5
    r1 = df['avg_census'].iloc[0]
    r2 = df['avg_census'].iloc[1]
    r3 = df['avg_b_avail'].iloc[2]
    r4 = df['avg_b_avail'].iloc[3]
    r5 = df['avg_b_avail'].iloc[4]
    
    r1_2   = r1 + r2
    r3_4_5 = r3 + r4 + r5
    
    # this also works, another way to get these values by using slicing
    #r1_2   = df['avg_census'].iloc[0:2].sum()
    #r3_4_5 = df['avg_b_avail'].iloc[2:5].sum() 
    
    # create new columns to show sum of the ratings
    df["sum_avg_census_1_2"]    = [r1_2, "", "","",""]
    df["sum_avg_b_avail_3_4_5"] = [r3_4_5, "", "","",""]
    
    if r3_4_5 >= r1_2:
        df["relocation"] = ["RELOCATE","", "", "", ""]
    else:
        df["relocation"] = ["NO_SPACE", "", "", "", ""]
    
    return df

In [130]:
raw_counties_data = pd.read_csv("data/counties.csv")
#raw_counties_data

In [131]:
rows_per_county = 5  
# create a list of smaller dataframes 5 rows each (each county is 5 lines)
list_cty_df = [raw_counties_data[i:i+rows_per_county] for i in range(0,raw_counties_data.shape[0],rows_per_county)]

counties_all = []
for cty in list_cty_df:
    counties_all.append(process_county(cty))
    
# recombine all individual county dataframes back into a single dataframe
counties_all = pd.concat(counties_all)
counties_all

# write out to csv
outfile = "counties_processed.csv"
counties_all.to_csv(outfile, index=False)
print("Output file written to:", outfile)

counties_all

Processing: CTY_A
Processing: CTY_B
Processing: CTY_C
Output file written to: counties_processed.csv

,county,rating,avg_census,avg_b_avail,sum_avg_census_1_2,sum_avg_b_avail_3_4_5,relocation
0,CTY_A,1,10.100000,1.500000,30.3,13.5,NO_SPACE
1,,2,20.200000,2.500000,,,
2,,3,30.300000,3.500000,,,
3,,4,40.400000,4.500000,,,
4,,5,50.400000,5.500000,,,
5,CTY_B,1,121.742754,10.590570,226.583,377.94,RELOCATE
6,,2,104.840000,19.345200,,,
7,,3,109.345600,47.845450,,,
8,,4,147.581500,12.418471,,,
9,,5,119.234500,317.676500,,,
10,CTY_C,1,100.100000,10.500000,300.3,121.5,NO_SPACE
11,,2,200.200000,20.500000,,,
12,,3,300.300000,30.500000,,,
13,,4,400.400000,40.500000,,,
14,,5,500.400000,50.500000,,,